body {
    margin: 0;
    height: 100vh;
    background: url(fondo.jpeg) top / cover fixed no-repeat;

    cursor: none;
}

h1 {
    text-align: center;
    color: #425770;
    font-family: sans-serif;
    font-size: 3rem;
    margin-top: 20px;
}

.raton {
    position: fixed;
    width: 100px;
    top: 0;
    left: 0;
    pointer-events: none;
}