body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: url("fondo.jpg") no-repeat center center/cover;
  font-family: 'Press Start 2P', cursive;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: rgba(20, 20, 30, 0.9);
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(170, 0, 255, 0.6);
  padding: 30px;
  width: 400px;
  text-align: center;
  animation: fadeIn 1.2s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.8); }
  to { opacity: 1; transform: scale(1); }
}

h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #bb86fc;
  text-shadow: 0 0 10px #bb86fc, 0 0 20px #bb86fc;
}

#randomWord {
  font-size: 2rem;
  margin: 20px 0;
  color: #f2f2f2;
}

input {
  width: 80%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  outline: none;
  margin-bottom: 20px;
  background-color: #222;
  color: #fff;
}

.time-container, .score-container {
  font-size: 1.2rem;
  margin: 10px 0;
}

.end-game-container {
  display: none;
  padding: 20px;
}

button {
  background: transparent;
  border: 2px solid #bb86fc;
  color: #bb86fc;
  padding: 10px 20px;
  font-size: 1.2rem;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 0 10px #bb86fc, 0 0 20px #bb86fc, 0 0 40px #bb86fc;
}

button:hover {
  background: #bb86fc;
  color: #111;
  box-shadow: 0 0 20px #ff00ff, 0 0 40px #ff00ff, 0 0 80px #ff00ff;
}
